<nav class="bg-white shadow-lg sticky top-0 z-10">
    <div class="max-w-7xl mx-auto px-4">
        <div class="flex justify-between items-center h-16">
            <div class="flex items-center">
                <a href="/"
                    class="text-2xl font-bold text-[#5079ae] hover:text-[#2c5790] transition-colors">JobConnect</a>
            </div>

            <!-- Desktop Menu -->
            <div class="hidden md:flex space-x-8">
                <a href="#" class="text-gray-700 hover:text-blue-600">Jobs</a>
                <a href="#" class="text-gray-700 hover:text-blue-600">Companies</a>
                <a href="#" class="text-gray-700 hover:text-blue-600">Career Tips</a>
                <a href="#" class="text-gray-700 hover:text-blue-600">Salary Insights</a>
            </div>
            <div class="flex items-center space-x-4">
                <a href="/accounts/login/" class="text-gray-700 hover:text-blue-600">Login</a>
                <a href="/accounts/register/"
                    class="bg-[#4194a5] text-white px-4 py-2 rounded-lg hover:bg-[#367b8b]">Sign
                    Up</a>
            </div>
        </div>
    </div>
</nav>